<form method="POST" action="/signup">
<input type="text" name="sign_up_user_name">User Name</input>
<input type="text" name="sign_up_password">Password</input>
<input type="submit" name="Sign Up" value="Sign Up"></input>
</form>