<!DOCTYPE html>
<html>
<head>
	<title>Newsfeed</title>
</head>

<body>
	<h1> Welcome to Poop-book, <%= @logged_in_user.username %>! </h1>


	<form method="post" action="/posts">
		<label> New Post:
			<input name="user_input" type="text"/>
		</label>

		<input type="submit"/>
	</form>

	<h3> Poopy Posts: </h3>

	<% @posts.each do |post| %>
	<li style ="list-style:none;margin-bottom:10px;margin-left: 5px;"> 
		<p><strong><%= @logged_in_user.username%>:</strong>
			<%= post.content %></p>
			<% end %>
		</li>
	</body>
	</html>