body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#title {
  font-size: 30px;
  text-align: center;
}
#poop {
	color: #8B4513;
}

#slogan {
 text-align: center;
 margin-top: 10px;
}

#titles {
	text-align: center;
}